# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Vector DB / embeddings (VERY IMPORTANT for your project)
vectorstore/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
